<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/{{ blog.theme }}">
    <link rel="stylesheet" href="/static/my_css.css">

    <script src="/static/jquery-3.3.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="my_header">
    <p>{{ blog.title }}
        <span style="float: right;margin-right:50px"><a href="/index/">主页</a></span>
    </p>

</div>
<div class="my_container">
    <div class="col-md-2 ">
        {% load my_tags %}

        {% get_left_menu username %}
        {# 执行get_left_menu 函数，将返回的结果渲染到left_menu.html,渲染完整的html代码返回到这边的代码区域 #}
    </div>
    <div class="col-md-9">
        {% block page_main %}
        {% endblock %}


    </div>
</div>
</div>


</body>
</html>